.page {
  height: 100vh;
  scroll-snap-align: start;
  padding: 5% 10%;
}
.page1 {
  background-image: url(https://cdn.pixabay.com/photo/2025/05/11/22/31/man-9594075_1280.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  

  .box {
    padding: clamp(1rem, 5%, 3rem);

    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid #fff;

    h1 {
        color: #fff;
        font-size: 20px;
    }
    
  }
}
@media  (max-width: 560px) {
    .page1 {
        .box{
            h1{
                font-size: 16.5px;
                text-align: center;
                
            }
        }
    }
}