.page {
  height: 100vh;
  scroll-snap-align: start;
}
.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(106, 106, 106, 0.8) 100%
    );
    z-index: 0;
  }

  .swiper {
    width: 100%;
    height: auto;

    .slide-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .car {
        width: 600px;
        max-width: 90%;
        margin-bottom: 20px;
        transition: all 0.7s ease;
        z-index: 1;
      }
    }
  }
  .fixed-text {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.7);

    position: absolute;
    top: 12rem;
    text-transform: uppercase;
    z-index: 0;
  }

  .button-group {
    position: absolute;
    top: 50%;
    left: 2rem;
    gap: 1rem;
    transform: translateY(-50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;

    button {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid #fff;
      background: transparent;
      cursor: pointer;
      color: #fff;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .area-option {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    align-items: center;
    z-index: 100;

    .box {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: end;
      padding: 1rem;

      .box-option {
        width: 300px;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;

        .border-option {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          position: relative;
          overflow: hidden;


          h2 {
            font-size: 16px;
            color: #c3c3c3;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            border-left: 2px solid #c3c3c3;
            padding: 0 .5rem;

            
          }
          .speed {
            #speed {
              text-align: center;
              font-size: 25px;
            }
          }

          p {
            font-size: 28px;
            color: #ffffff;
            opacity: 0.8;
            font-family: sans-serif;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
}
